<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
</head>
<body>
    <h1>修改页面</h1>
<form name="user" action="/user/update" method="post">
    <input type="text" name="uId"placeholder="id"><br/>
    <input type="text" name="username" placeholder="username"/><br/>
    <input type="text" name="password" placeholder="username"/><br/>
    <input type="text" name="phone" placeholder="phone"/><br/>
    <input type="text" name="email" placeholder="email"/><br/>
    <input type="text" name="gender" placeholder="gender"/><br/>
    <input type="submit" value="修改">
</form>
</body>
</html>